extends ../layout/index
block contenedor
    // Card
    div(class="w-full max-w-md bg-white rounded-xl shadow-lg p-6 sm:p-8")
      
      // Logo placeholder
      div(class="flex justify-center mb-6")
            img(src="/img/logo.png" width="100" alt="")

      // Title
      h1(class="h1")
        | Hola de nuevo!! 👋
      
      p(class="p")
        | Logueate para empezar a trabajar 😎
      
      if errores 
        p(class="error")=errores.msg

      // Form
      form(action="", method="post") 
        input(type="hidden", name="_csrf" value = csrfToken)
        // Email
        div
          label(class="label")
            |Tu Email
          input(
            type="email"
            name = "emailUsuario"
            value = usuario ? usuario.emailUsuario : ""
            placeholder="Ingresa el email con que estas registrado"
            class="field-text"
          )
          if errores && errores.emailUsuario != null
             p(class="error")=errores.emailUsuario

        // Password
        div
          label(class="label mt-4")
            | Password  
          div(class="relative")
            input(
              type="password"
              name = "password"
              placeholder="••••••••"
              class="field-text"
            )
            span(class="absolute inset-y-0 right-3 flex items-center text-gray-400")
              | 👁️
          if errores && errores.password != null
           p(class="error")=errores.password

        // Forgot password
        div(class="flex justify-end")
          a(href="/forgot", class="link")
            | Olvidaste la contraseña? 🫣

        // Button
        button(type="submit" class="btn-primary")
    
          | Ingresar