div(class="col-span-12 grid grid-cols-1 md:grid-cols-3")
        a(href="javascript:void(0)" data-step="1" class="step-btn") 
            div(class="flex items-center gap-4 w-full mt-4")
                div(class=`itemInCircle ${pasoActivo == 1 ? 'circlePink' : 'circleGray'}`)
                    | 1
                span(class=`font-medium text-lg ${pasoActivo == 2 ? 'text-pink-500' : 'text-gray-400'}`)
                    | Datos Básicos
                div(class="flex-1 h-[2px] bg-gray-200 rounded-full")



        a(href="javascript:void(0)" data-step="2" class="step-btn") 
            div(class="flex items-center gap-4 w-full mt-4")
                div(class=`itemInCircle ${pasoActivo == 2 ? 'circlePink' : 'circleGray'}`)
                    | 2
                span(class=`font-medium text-lg ${pasoActivo == 2 ? 'text-pink-500' : 'text-gray-400'}`)
                    | Datos Tributarios
                div(class="flex-1 h-[2px] bg-gray-200 rounded-full")



        a(href="javascript:void(0)" data-step="3" class="step-btn") 
            div(class="flex items-center gap-4 w-full mt-4")
                div(class=`itemInCircle ${pasoActivo == 3 ? 'circlePink' : 'circleGray'}`)
                    | 3
                span(class=`font-medium text-lg ${pasoActivo == 3 ? 'text-pink-500' : 'text-gray-400'}`)
                    | Datos Tributarios
                div(class="flex-1 h-[2px] bg-gray-200 rounded-full")
                            