form(action="", method="post" id="formularioProvedor" enctype="multipart/form-data" class="col-span-12 grid grid-cols-12 gap-6 items-start")


    //- COLUMNA IZQUIERDA
    input(type="hidden", name="_csrf" value = csrfToken)
    input(type="hidden", name="idProveedor" value=provedor ? provedor.idProveedor : '')
    

    div(class="col-span-12 md:col-span-8 grid grid-cols-12 gap-4 cards cardsWhite p-6")
        
        //- Nombre del Producto
        //- SEPARADOR 100% (ATRIBUTOS)
        div(class="col-span-12 -mx-6    mt-4")
            
            h1.h1(class="text-left pl-11 flex items-center text-gray-700")
                i.fi-rr-features.pr-2
                | Datos Básicos


        div(class="col-span-12 md:col-span-6")
            label.label Razón social (nombre del provedor)
                input(class="field-text" type="text" name="razonSocial" id="razonSocial" placeholder="Cómo se llama el provedor?" value = (producto && producto.nombreProducto) ? producto.nombreProducto : "")
                #divError

        div(class="col-span-12 md:col-span-6")
            label.label NIT O IDENTIFICACIÓN
                input(class="field-text" type="text" name="nit" id="nit" placeholder="Nro de  NIT o Cédula" value = (producto && producto.nombreProducto) ? producto.nombreProducto : "")
                #divError
        //-Departamento
        div(class="col-span-12 md:col-span-3")
            label.label Departamento
                select(name="departamentoSelect" id="departamentoSelect" class = (errores && errores.departamento) ? "field-text field-text-error" : "field-text")
                            option(value="") Selecciona El Departamento 
                                each departamento in departamentos
                                    option(value= departamento.id 
                                        selected=(dato && dato.departamento == departamento.id) ? true : false 
                                    )=departamento.nombre
                span.select-icon
                    i.fi-rr-chevron-double-down
                if errores && errores.departamento
                    p(class="label-error pl-2.5")=errores.departamento
                        i.fi-rr-light-emergency-on









        //- Ciudad
        div(class="col-span-12 md:col-span-3")
            label.label Ciudad
                div(class="select-wrapper")
                    select(name="ciudadSelect" id="ciudadSelect" class = (errores && errores.ciudad) ? "field-textfield-text-error" : "field-text")
                        if ciudades
                            option(value="") -- Seleccione Ciudad --
                            each ciudad in ciudades
                                option(
                                    value=ciudad.id
                                    selected=(dato && dato.ciudad == ciudad.id) ? true : false
                                )= ciudad.nombre                        
                        else 
                            option(value="") -- Seleccione Depto primero --
                        span.select-icon
                            i.fi-rr-chevron-double-down
                    if errores && errores.ciudad
                        p(class="label-error pl-2.5")=errores.ciudad
                            i.fi-rr-light-emergency-on
                    span.select-icon
                        i.fi-rr-chevron-double-down

        //- Dirección Principal
        div(class="col-span-12 md:col-span-3")
            label.label Direccion Provedor
                input(class="field-text" type="text" id="direccionProvedor" name="direccionProvedor" placeholder="Calle 10 # 20 - 30" value = (producto && producto.direccionProvedor) ? producto.direccionProvedor : "")

        //- EMAIL PROVEDOR
        div(class="col-span-12 md:col-span-3")
            label.label Email
                input(class="field-text" type="email" id="emailProvedor" name="emailProvedor" placeholder="ventas@provedor.com" value = (producto && producto.precioVentaPublicoFinal) ? producto.precioVentaPublicoFinal : "" )
        
        //- Categoría Provedor
        div(class="col-span-12")
            label.label Cuáles categorias nos vende este provedor?
                div(class="flex flex-wrap gap-2 mt-2")
                    each categoria in categoriasProvedores
                        label(class="subItems")
                            input(type="checkbox" name="categorias" value=categoria.idCategoria  
                            class="categoria-checkbox checkbox")
                            span(class="text-xs font-bold text-gray-700 uppercase")= categoria.nombre
          





        //- SEPARADOR 100% DATOS DE CONTACTO S
        div(class="col-span-12 -mx-6 mt-4")
            div(class="border-b border-gray-200 w-full")
                h1.h1(class="text-left pl-11 flex items-center text-gray-700")
                    i.fi-rr-customer-service.mr-2
                    | DATOS DE CONTACTO     


        div(class="col-span-12 md:col-span-6")
            label.label Nombre del Contacto
                input(class="field-text" type="text" id="nombreContacto" name="nombreContacto" placeholder="JUAN PEREZ" value = (producto && producto.precioVentaPublicoFinal) ? producto.precioVentaPublicoFinal : "" )

        div(class="col-span-12 md:col-span-6")
            label.label Teléfono
                input(class="field-text" type="text" id="telefonoContacto" name="telefonoContacto" placeholder="444-44-44" value = (producto && producto.precioVentaPublicoFinal) ? producto.precioVentaPublicoFinal : "" )
           
    //- COLUMNA DERECHA
    div(class="col-span-12 cards cardsWhite md:col-span-4 flex flex-col gap-4")

                
        
        div(class="min-h-[150px] p-4")
            h1.h1
                i.fi-rr-features.pr-2
                | Documentos del provedor
            //- Card de Carga de Imágenes
            div(class="shadow-sm")
                //- Área de Drag & Drop
                div(class="relative group")
                    input(
                        type="file" 
                        multiple 
                        class="absolute inset-0 w-full h-full opacity-0 cursor-pointer z-10" 
                        name="documentos" 
                        id="upload-images"
                        accept=".jpg, .jpeg, .png, .webp, .pdf, .doc, .docx, .xls, .xlsx"
                    )

                    div(class="inputUpload")
                        //- Icono de Archivos 
                        div(class="w-16 h-16 bg-white shadow-sm rounded-full flex items-center justify-center mb-4 text-purple-500")
                            i.fi-rr-file-add.text-3xl
                        
                        span(class="text-sm font-bold text-gray-600") Sube o arrastra PDF, Word, Excel o Imágenes.
                        span(class="text-xs text-gray-400 mt-1") Máx 10 archivos, hasta 5MB c/u

                div(class="mt-6 flex flex-wrap gap-3 m-2 p-5" id="preview-container")

                    //- Precarga de las imagenes que ya estan en server.
                  
                    //- Slot vacío para invitar a subir más
                    div(class="w-20 h-20 rounded-xl border-2 border-dotted border-gray-200 flex items-center justify-center text-gray-300")
                        svg(class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24")
                            path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4")

    div(class="col-span-12")
        div(class="flex  justify-center")
            button(class="btn btn-primary w-full"  type="submit" id="guardar" )
                i.fi-rr-disk
                | #{btnName}


script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")           